import React from 'react';
import { ${this.functionName}DefaultProps } from './${this.functionName}.props';
import { ${this.functionName} } from '../../../../';
import data from './${this.functionName}.data.json';
import renderer from 'react-test-renderer';
import { ReactTestRendererJSON } from 'react-test-renderer';

describe('<${this.functionName} />', () => {
  it("default match snapshot", async () => {
    const snapshot = data;
    ${this.matchSnapshot}

    const actualComponent = renderer.create(<${this.functionName} {...${this.functionName}DefaultProps}/>).toJSON() as ReactTestRendererJSON;
    expect(actualComponent).toMatchSnapshot();
  });
})