import * as config from "../../../../config";
import { SnapshotService } from '../../../../sync.test';

const data = require('./${this.className}.${this.functionName}.data.json');
const { namespaces } = config;

describe("${this.className}.${this.functionName}", () =>  {
  it("default", async () => {
    const snapshot = data;
    ${this.matchSnapshot}

    SnapshotService.resolveMockMethods(snapshot, namespaces);
    
    const actualOutput = await ${this.target}.${this.functionName}.apply(
      snapshot?.classObject,
      snapshot?.input as any
    );
    expect(actualOutput).toMatchSnapshot();
    if(snapshot?.output !== null){
      expect(actualOutput).toEqual(snapshot?.output);
    }
  });
})

