import React from 'react';
import { View } from 'react-native';
import { ${this.functionName}DefaultProps } from './${this.functionName}.props';
import { ${this.functionName} } from '../../../config';

export default {
  title: 'WrapperComponent/${this.functionName}',
};

export const ${this.functionName}Default = () => {
  return (
    <View>
      <${this.functionName} {...${this.functionName}DefaultProps}/>
    </View>
  )
}